@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font face declarations */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-white dark:bg-black;
  }
  :root {
    --radius: 0.5rem;
  }
  /* Custom minimal scrollbar styling */
  ::-webkit-scrollbar {
    @apply w-0.5 h-0.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded border border-transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}
