.content {
  max-width: clamp(64ch 5% 70ch);
}
.pageHeadline {
  margin: 0rem;
  padding: 0rem;
  font-size: clamp(2.2rem, 2.5vw, 3rem);
}
.pageSupporting {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  line-height: 1.4;
  letter-spacing: 0.015rem;
}
/* End of Article Headline & Supporting Text */
.content {
  margin-top: 3rem;
  max-width: 70ch;
}
.content > * {
  margin: 0rem;
  padding: 0rem;
  color: var(--gray-900);
  margin-top: 1rem;
  letter-spacing: 0.012rem;
  line-height: 1.5;
}
.imageContainer {
  position: relative;
  aspect-ratio: 16 / 9; 
  width: 100%; 
}
.imageMedia {
  object-fit: fill;
}
.headline1 {
  font-size: 3rem;
  line-height: 1; 
  font-weight: 700; 
}
.headline2 {
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 700; 
}
.headline3 {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
}
.headline4 {
  font-size: 1.5rem;
  line-height: 2rem; 
  font-weight: 700; 
}
.content > p {
  font-size: clamp(0.875rem, 3vw, 1rem);
}

/* End of Article Headline & Supporting Text */
