.content {
  margin-top: 3rem;
}
.pageSupporting {
  font-size: clamp(1.2em, 5vw, 1.5rem);
  line-height: 1.4;
  letter-spacing: 0.015rem;
}
.articleImageContainer {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}
.articleImageContainer > img {
  object-fit: fill;
}
.content > * {
  margin: 0rem;
  padding: 0rem;
  color: var(--gray-900);
  margin-top: 1rem;
  letter-spacing: 0.012rem;
  line-height: 1.5;
}
.content > h1 {
	font-size: 3.25rem; /* 60px */
  line-height: 1;
}
.content > h2 {
	font-size: 2.5rem; /* 48px */
  line-height: 1;
}
.content > h3 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.content > h4 {
	font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.content > h5 {
	font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.content > h6 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.content > p:first-of-type {
	font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.content > p {
	font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

/* End of Article Headline & Supporting Text */




/* End of Article Headline & Supporting Text */
