.footer_background {
  padding: 2rem 1rem;
  background-color: var(--primary-100);
}
.footer_container {
  max-width: 1280px;
  margin: 0rem auto;
}
.footer_adjust {
  display: flex;
  margin-left: 1.5rem;
  justify-content: center;
}

.footer_adjust1 {
  margin-top: 2rem;
}
.footer_copyrights {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-500);
}
.footer_links {
  z-index: 10;
  padding: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}
.footer_srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.footer_iconSize {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-500)
}
@media (min-width: 768px) {
  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_adjust {
    order: 2;
  }
  .footer_adjust1 {
    margin-top: 0;
    order: 1;
  }
  .footer_copyrights {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .footer_container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
