.wrapper {
  width: 90%;
  margin: 0rem auto;
}
.home > .wrapper > * {
  margin: 5rem 0rem;
}
.home .wrapper .hero * {
  margin: 0.5rem 0rem;
}
.home .wrapper .work * {
  margin: 0.5rem 0rem;
}
.home .wrapper .what * {
  margin: 1rem 0rem;
}
.home .wrapper .how * {
  margin: 1rem 0rem;
}
.home .wrapper .why * {
  margin: 1rem 0rem;
}
.home .wrapper .collab * {
  margin: 1rem 0rem;
}
