
.listItem {
  list-style-type: none;
}
.socialLink {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--gray-600);
  font-weight: 500;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.SocialLinkIcon {
  width: 1.5rem;
  height: 1.5rem;
}
